* text=auto eol=lf

*.sln       text eol=crlf
*.csproj    text eol=crlf
*.props     text eol=crlf
*.targets   text eol=crlf

*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.dll binary
*.snk binary
*.nupkg binary
